.navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.title {
  font-family: "Nabla", cursive;
  font-size: 40px;
  margin: 0px 0px;
  transition: 0.2s;
  text-decoration: none !important;
  &:hover {
    transform: translate(-2px, -2px);
  }
}

.title_border {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.navbar_title {
  display: flex;
  justify-content: flex-start;
}

.navbar_title_link {
  text-decoration: none;
  color: black;
}

.navbar_category {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.navbar_category_links {
  min-width: max-content;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  transition: 0.2s;
  &:hover {
    text-decoration: 5px underline blue;
    transform: translate(0px, -2px);
  }
}

.active {
  text-decoration: 5px underline blue;
  translate: 0 -5px;
}
