.modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal_outer {
	background-color: grey;
	opacity: 0.4;
	position: absolute;
	height: 100vh;
	width: 100vw;
}

.modal_img {
	max-height: 50vw;
	max-width: 900px;
	min-width: 600px;
	z-index: 3;
	position: absolute;
}
